@model PagedList.IPagedList<Do_An.Frameworks.SANPHAM>
@using PagedList.Mvc;
@using PagedList;
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Customer/Views/Shared/_Layout.cshtml";
}
@section Title{
    <title>De Montre</title>
    <style>
        .page-item.active
        .page-link {
            color: #fff !important;
            background-color: var(--primary-color) !important;
            border-color: var(--primary-color) !important;
        }

        .page-link {
            color: var(--primary-color) !important;
        }
    </style>
}
@section WebPagination{
    <div class="container__content-heading" style="max-width: 71%; margin: 0 auto;">
        <ul>
            <li><a href="@Url.Action("Index","Home")">Trang chủ</a></li>
            <li style="color:black;"><strong>Sản phẩm</strong></li>
        </ul>
    </div>
}
<div class="grid">
    <div class="grid__row">
        <div class="grid__column-9 grid__column-9-heading">
            <h1 style="margin-right:400px;">Sản phẩm</h1>
            <div class="product-sort">
                <p style="margin-bottom:0;">Sắp xếp theo</p>

                <button class="btn btn-primary dropdown-toggle" style="background-color:#ffffff;color:#000000; border:1px solid rgba(0,0,0,0.7); width:140px;box-shadow:none;" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Giá giảm dần
                </button>
                <div class="dropdown-menu animated--fade-in" aria-labelledby="dropdownMenuButton">
                    <a class="dropdown-item" href="@Url.Action("GiaCaoNhat")">Giá tăng dần</a>
                    <a class="dropdown-item" href="@Url.Action("GiaThapNhat")">Giá giảm dần</a>
                    <a class="dropdown-item" href="@Url.Action("Sale")">Khuyến mãi</a>
                </div>
            </div>

        </div>
    </div>
    <div class="grid__row">
        <div class="grid__column-9">
            <div class="grid__row">
                @foreach (var item in Model)
                {
                    <div class="grid__column-3-4">
                        <div class="product-item" style="text-align:center;">
                            <a href="@Url.Action("Index","Product_Infor" ,new { @masp= item.MaSP})" style="text-decoration:none;">
                                <img class="product-item-img" src="@item.HinhAnh" />
                                <div class="product-item-name">@item.TenSP</div>
                                @if (item.Discount != 0)
                                {
                                    var tien = item.Gia * ((float)(100 - item.Discount) / 100);
                                    <div class="product-item-price"><strike style="font-size:15px;color:darkgray">@String.Format("{0:n0}", item.Gia)đ</strike> @String.Format("{0:n0}", tien)đ</div>
                                }
                                else
                                {
                                    <div class="product-item-price">@String.Format("{0:n0}", item.Gia)đ</div>
                                }
                            </a>
                        </div>

                    </div>
                }
            </div>
            @Html.PagedListPager((IPagedList)Model, page => Url.Action("Index", new { page }), new PagedListRenderOptions()
        {
            DisplayLinkToFirstPage = PagedListDisplayMode.IfNeeded,
            DisplayLinkToLastPage = PagedListDisplayMode.IfNeeded,
            DisplayLinkToPreviousPage = PagedListDisplayMode.IfNeeded,
            DisplayLinkToNextPage = PagedListDisplayMode.IfNeeded,
            MaximumPageNumbersToDisplay = 10,
            UlElementClasses = new string[] { "pagination justify-content-center ft-wpbs" },
            LiElementClasses = new string[] { "page-item " },
            FunctionToTransformEachPageLink = (liTag, aTag) => { aTag.Attributes.Add("class", "page-link"); liTag.InnerHtml = aTag.ToString(); return liTag; },
        })
        </div>
    </div>
</div>
<a class="scroll-to-top rounded" href="#page-top" style="display: flex; align-items:center; justify-content:center; text-decoration:none;">
    <i class="fas fa-angle-up"></i>
</a>
@section Scripts{
    <script src="~/Assets/Admin/vendor/jquery/jquery.min.js"></script>
    <script src="~/Assets/Admin/vendor/jquery-easing/jquery.easing.min.js"></script>
    <link href="~/Assets/Admin/css/sb-admin-2.min.css" rel="stylesheet" type="text/css" />
    <script src="~/Assets/Admin/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Core plugin JavaScript-->
    <script src="~/Assets/Admin/js/sb-admin-2.min.js"></script>
}


