
@{
    ViewBag.Title = "Info";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}
@model Do_An.Frameworks.SHIPPER

<div class="card shadow mb-auto">
    <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">Thông Tin Shipper</h6>
    </div>
    <div class="card-body">
        @if (TempData["Alert-Message"] != null)
        {
            <div class="alert @TempData["AlertType"]" id="success-alert">
                <button type="button" class="close" data-dismiss="alert">x</button>
                <strong>@TempData["Alert-Message"]</strong>
            </div>
        }
        @using (Html.BeginForm("Info", "Shipper", FormMethod.Post))
        {
            foreach (var item in ViewBag.Shipper)
            {
                <div class="form-row">
                    <div class="form-group col-md-4">
                        <label for="inputSDT">Số điện thoại</label>
                        @Html.TextBoxFor(model => model.SDT, new { @class = "form-control", id = "inputSDT", @Value = item.SDT, @readonly = "readonly" })
                    </div>
                    <div class="form-group col-md-4">
                        <label for="inputName">Tên khách hàng</label>
                        @Html.TextBoxFor(model => model.TenKH, new { @class = "form-control", id = "inputName", @Value = item.TenKH })
                    </div>
                    <div class="form-group col-md-4">
                        <label for="inputCMND">CMND</label>
                        @Html.TextBoxFor(model => model.CMND, new { @class = "form-control", id = "inputCMND", Value = item.CMND, maxlength = 9 })
                    </div>
                </div>
                <div class="dropdown-divider"></div>
                <div class="form-row">
                    <div class="form-group col-md-4">
                        <label for="inputEmail">Email</label>
                        @Html.TextBoxFor(model => model.Email, new { @class = "form-control", id = "inputEmail", Value = item.Email })
                    </div>
                    <div class="form-group col-md-8">
                        <label for="inputDiaChi">Địa chỉ</label>
                        @Html.TextBoxFor(model => model.DiaChi, new { @class = "form-control", id = "inputDiaChi", Value = item.DiaChi })
                    </div>
                </div>
                <div class="dropdown-divider"></div>
                <div class="form-row">
                    <div class="form-group col-md-3">
                        <label for="inputDH">Đơn hoàn tất</label>
                        @Html.TextBoxFor(model => model.DonHT, new { @class = "form-control", id = "inputDH", Value = item.DonHT, @readonly = "readonly" })
                    </div>
                </div>

                <div class="dropdown-divider"></div>
                <div class="form-row flex-row-reverse">
                    <button class="btn btn-success" type="submit">Save</button>
                    <a href="@ViewBag.URL" class="btn btn-light btn-icon-split" style="margin-right:10px;">
                        <span class="icon text-gray-600">
                            <i class="fas fa-chevron-left"></i>
                        </span>
                        <span class="text">Back</span>
                    </a>
                </div>
            }
        }

    </div>
</div>

