
@{
    ViewBag.Title = "Insert";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

@model Do_An.Frameworks.BRAND
<div class="card shadow mb-auto">
    <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">Thêm thương hiệu</h6>
    </div>
    <div class="card-body">
        @if (TempData["Alert-Message"] != null)
        {
            <div class="alert @TempData["AlertType"]" id="success-alert">
                <button type="button" class="close" data-dismiss="alert">x</button>
                <strong>@TempData["Alert-Message"]</strong>
            </div>
        }
        @using (Html.BeginForm("Insert", "Brand", FormMethod.Post, new { enctype = "multipart/form-data" }))
        {

                <div class="form-row">
                    <div class="form-group col-md-9">
                        <label for="inputName">Tên thương hiệu</label>
                        @Html.TextBoxFor(model => model.TenTH, new { @class = "form-control", id = "inputName", required = "required" })
                    </div>
                </div>
                <div class="dropdown-divider"></div>
                <div class="form-row">
                    <div class="form-group col-md-5">
                        <label for="inputDiaChi">Địa chỉ</label>
                        @Html.TextBoxFor(model => model.DiaChiTH, new { @class = "form-control", id = "inputDiaChi", required = "required" })
                    </div>
                    <div class="form-group col-md-3">
                        <label for="inputPN">Số điện thoại</label>
                        @Html.TextBoxFor(model => model.SDT, new { @class = "form-control", id = "inputPN", required = "required", maxlength = "10" })
                    </div>
                </div>
                <div class="dropdown-divider"></div>
                <div class="form-row">
                    <div class="form-group col-md-3">
                        <img src="~/Images/no-image.png" alt="Đồng hồ" class="img-thumbnail" style="width:260px;" id="output">

                        @Html.TextBoxFor(model => model.HinhAnh, new { style = "display:none;", Value = "/Images/no-image.png" })
                    </div>
                    <div class="form-group col-md-5">
                        <input type="file" id="file" name="file" accept="image/*" onchange="loadFile(event)" />
                        <script>
                            var loadFile = function (event) {
                                var image = document.getElementById("output");
                                image.src = URL.createObjectURL(event.target.files[0]);
                            };
                        </script>
                    </div>
                </div>
            
            <div class="dropdown-divider"></div>
            <div class="form-row flex-row-reverse">
                <button class="btn btn-success" type="submit">Save</button>
                <a href="@ViewBag.URL" class="btn btn-light btn-icon-split" style="margin-right:10px;">
                    <span class="icon text-gray-600">
                        <i class="fas fa-chevron-left"></i>
                    </span>
                    <span class="text">Back</span>
                </a>
            </div>
        }
    </div>
</div>

